h1{
    color: red;
    text-align: center;
}
body{
    background-color: grey;
}
button{
    text-align: center;
    justify-content: center;  
    align-items: center;  
    height: 100px;
    width: 250px;
    margin: 0;
    padding: 0;
    background: red;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}